body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 50 auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
  padding-bottom: 100px;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chill-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/*
 ***********used to shift text from a floting point******
.skills-text{
clear:left;
}
.chill-text{
clear: right;
}*/



.profilepicture {
  width: 120px;
  border-radius: 20px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin:20px;

}
.footer-link:hover{
  color: #EAF6F6;
}


.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 500px;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
}

.copyright {
  color: #EAF6F6;
}
.contact-me{
  text-align: center;
  margin:auto;
  width: 40%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ab);
  text-decoration: none;
}
.copyright{
  font-size: 0.75rem;
  padding: 20px 0;
}
